<h1>Editing newsarticle</h1>

<%= render "form", newsarticle: @newsarticle %>

<br>

<div>
  <%= link_to "Show this newsarticle", @newsarticle %> |
  <%= link_to "Back to newsarticles", newsarticles_path %>
</div>
