<div id="<%= dom_id animateur %>">
  <p>
    <strong>Name:</strong>
    <%= animateur.title %>
  </p>

  <p>
    <strong>Image:</strong>
    <%= image_tag "/uploads/"+animateur.image, width: 900, height:600 %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= animateur.description %>
  </p>

</div>
