<h1>Editing animateur</h1>

<%= render "form", animateur: @animateur %>

<br>

<div>
  <%= link_to "Show this animateur", @animateur %> |
  <%= link_to "Back to animateurs", animateurs_path %>
</div>
