<div id="carouselExampleIndicators" class="carousel slide">
  <div class="carousel-indicators">
    <%Animateur.all.each_with_index do |h,i|%>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="<%=i%>" <%if i==0%>class="active" aria-current="true"<%end%> aria-label="<%=h.title%>"></button>
  <%end%>
  </div>
  <div class="carousel-inner">
    <%Animateur.all.each_with_index do |h,i|%>
      <div class="carousel-item <%=i == 0 ? "active" : ""%>">
        <img src="/uploads/<%=h.image%>" class="d-block w-100" alt="...">
    </div>
  <%end%>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
<h4>LA PLAYLIST NRJ</h4>
<div class="myboutons"><a class="monbouton" href="/post/hit/hit">Voir toute la playlist</a></div>

<h4>musique</h4>
<h4>actualité</h4>
