<div id="<%= dom_id emission %>">
  <p>
    <strong>Name:</strong>
    <%= emission.name %>
  </p>

  <p>
    <strong>Image:</strong>
    <%= emission.image %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= emission.description %>
  </p>

</div>
