<div class="wm-main-page">
    <!--// Main Section \\-->
    <div class="wm-main-section">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                                            <div class="wm-blog wm-blog-single page">
                                                        <div class="wm-blog-text article-light  article-bg-grey">
                                <div class="row">
                                    <h2><a href="#">Conditions générales d'utilisation</a></h2>

                                </div>
                                                                                                    <div class="row pageRaw">
                                        <p><strong>Dernière mise à jour :</strong>&nbsp;24-05-2019 05:21</p>

<hr>
<p>La société COM1CONCEPT a créé et ouvert le site internet&nbsp;<a href="https://www.cheriefmguyane.fr">https://www.n</a><a href="https://www.nrjguyane.fm">rjguyane.fm</a>&nbsp;(ci-après le "<strong>Site</strong>") pour l’information de ses utilisateurs.</p>

<p>En accédant au Site, désignés ensemble les "Services", l'utilisateur (ci-après dénommé (les) l’Utilisateur(s)") accepte et convient de respecter les présentes conditions générales d’utilisation (les "Conditions d’Utilisation") et d’être lié par celles-ci. Ces Conditions d’Utilisation ont valeur d’accord obligatoire. En cas de refus d’une ou de plusieurs d’entre elles, l'Utilisateur devra s'abstenir de tout accès aux Services ou de leur usage.</p>

<p>Les Conditions d’Utilisation s’appliquent à quelques Services que ce soit, étant précisé que certains peuvent être soumis à des conditions supplémentaires.</p>

<p>L'Utilisation du Site est en conséquence soumise au respect des Conditions d’Utilisation, le cas échéant des clauses et conditions d'utilisation supplémentaires, des conditions générales de vente des produits et services et de l’ensemble des lois applicables.</p>

<p>Le terme "Utilisation" désigne toutes opérations effectuées par l'Utilisateur dès l’accès au Site, en ce compris sa simple consultation, quel qu’en soit le dispositif d’accès (notamment, ordinateur, tablette et Smartphone), le type de connexion (connexion privée, connexion d’un tiers ou Wi-fi public) et le lieu de connexion (depuis la France ou l’étranger).</p>

<p>Conformément à la loi du 6 janvier 1978 relative à l’informatique, aux fichiers et aux libertés, le Site a fait l’objet d’une déclaration auprès de la Commission Nationale de l’Informatique et des Libertés.</p>

<p><strong>Sommaire</strong></p>

<ol>
	<li>Objet du Site</li>
	<li>Accès et utilisation du Site</li>
	<li>Contenu du Site</li>
	<li>Accessibilité</li>
	<li>Droits de propriété intellectuelle</li>
	<li>Gestion des mots de passe et codes d’accès</li>
	<li>Données personnelles et autres données</li>
	<li>Liens hypertextes</li>
	<li>Limitation de responsabilité</li>
	<li>Droit applicable</li>
	<li>Mise à jour des conditions générales</li>
</ol>

<p><strong>1.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Objet du Site</strong></p>

<p>Le Site a pour vocation de fournir des informations générales sur la radio NRJ GUYANE. Il permet à l’Utilisateur :</p>

<ul>
	<li>de découvrir les articles et services proposés par la radio&nbsp;;</li>
	<li>de participer aux différents jeux et concours proposés par le Site ;</li>
	<li>de découvrir les musiques diffusée sur la radio ;</li>
</ul>

<p>Les informations qui sont contenues sur le Site ne constituent en aucune façon une offre de contracter, ni une offre d'achat ou de vente, sauf mention contraire.</p>

<p>COM1CONCEPT&nbsp;se réserve le droit de modifier les informations figurant dans le Site, notamment relatives aux caractéristiques techniques et aux accessoires des produits présentés, à tout moment, sans préavis, compte tenu de l’interactivité du Site et sans que cela puisse engager la responsabilité de&nbsp;COM1CONCEPT ou de ses employés.</p>

<p><strong>2.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Accès et Utilisation du Site</strong></p>

<p><strong>2.1&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Condition d'Utilisation des Services</strong></p>

<p>L’accès à certains Services peut être subordonné à la création d’un Compte nécessitant la communication, par l’Utilisateur, d’informations permettant son identification. Au regard des dispositions de la Loi pour la confiance dans l’économie numérique (LCEN) du 6 août 2004 modifiée, Nous avons une obligation légale de collecte et de conservation de ces données d’identification. L’Utilisateur s’engage à transmettre des données exactes et complètes sur son identité et s’interdit d'usurper l'identité d'un tiers quelconque. Dans le cas contraire, Nous nous réservons le droit ne pas confirmer, de suspendre ou de supprimer le compte de l'Utilisateur.</p>

<p><strong>2.2&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Comportements interdits</strong></p>

<p>L’Utilisation des Services est strictement interdite à toute personne physique ou morale les utilisant à des fins professionnelles ou dans le cadre d’une activité professionnelle accessoire.</p>

<p>Il est interdit aux Utilisateurs d'effectuer tout acte susceptible de porter atteinte à la vie privée ou à la réputation des personnes physiques ou morales. A cet égard, il est notamment interdit aux Utilisateurs de :</p>

<ul>
	<li>extraire ou collecter par un moyen quelconque des données personnelles d’autres Utilisateurs ;</li>
	<li>extraire, enregistrer ou exploiter, à d’autres fins que l’unique affichage lors de la navigation sur le Site, les contenus de tiers soumis à droits de propriété intellectuelle, relatifs à la vie privée, données personnelles ou droits à image ;</li>
	<li>stocker, diffuser ou publier tout contenu illégal, préjudiciable, injurieux, raciste, incitant à la haine, révisionniste, contraire aux bonnes mœurs, portant atteinte à la vie privée ou portant atteinte aux droits privatifs de tiers, notamment le droit à l’image des personnes et des biens, le droit de propriété intellectuelle ou le droit au respect de la vie privée ;</li>
	<li>stocker, diffuser ou publier, toute information permettant de révéler, directement ou indirectement, ses opinions politiques, philosophiques ou religieuses, son appartenance syndicale, son état santé ou son orientation sexuelle ;</li>
	<li>déposer des contenus pour le compte d’un tiers ;</li>
	<li>usurper l’identité d’un tiers et/ou publier toute information personnelle d’un tiers ;</li>
	<li>transmettre des éléments qui portent atteinte aux droits de propriété intellectuelle ou aux droits des tiers et notamment le droit des marques, le droit au respect de la vie privée ou encore le droit d'auteur ;</li>
	<li>transmettre des virus ou tout autre programme nuisible ou destructeur ;</li>
	<li>perturber le fonctionnement du Site.</li>
</ul>

<p>L’utilisateur garantit&nbsp;COM1CONCEPT&nbsp;contre tous recours, fondés directement ou indirectement sur ces propos et/ou données, susceptibles d’être intentés par quiconque à l’encontre de&nbsp;COM1CONCEPT. Il s’engage en particulier à prendre en charge le paiement des sommes, quelles qu’elles soient, résultant du recours d'un tiers à l'encontre de&nbsp;COM1CONCEPT, y compris les honoraires d’avocat et frais de justice.</p>

<p><strong>3.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Contenu du Site</strong></p>

<p>Bien que tous les efforts raisonnables soient faits pour assurer l'exactitude, l'exhaustivité et l'actualité du contenu des Services, ces derniers sont fournis par&nbsp;COM1CONCEPT&nbsp;en fonction de leur disponibilité.</p>

<p>Dans toute la mesure permise par la législation en vigueur,&nbsp;COM1CONCEPT ne saurait être responsable (i) des dommages, pertes ou conséquences de n’importe quel ordre résultant de toute utilisation des Services ou de leur Contenu, ou du Contenu publié par l'Utilisateur sur les Services ; ni (ii) vis-à-vis de l'Utilisateur en cas de dommages ou pertes indirect(e)s ainsi que de tous préjudices immatériels et préjudices du fait d’une perte de bénéfices, de revenus, d’usage ou de données résultant de l’usage ou de l’exploitation des Services.</p>

<p>L'Utilisateur reconnait expressément que (i) les Services ne sont pas exempts d’erreurs ou de virus ; (ii) la connexion aux Services implique les risques inhérents à toute connexion et toute transmission sur Internet et les réseaux de téléphonie mobile, notamment en ce qui concerne la vitesse de transfert des données, le temps de réponse lors des demandes d’informations et consultations et les performances techniques ; (iii)&nbsp;COM1CONCEPT&nbsp;n'a aucun contrôle sur les réseaux ou sites web tiers auxquels l'Utilisateur peut avoir accès dans le cadre de son Utilisation des Services ; (iv)&nbsp;COM1CONCEPT&nbsp;ne saurait être tenu pour responsable en cas de perte de données, de défaut de stockage, de mauvais acheminement ou de retard dans l’acheminement de quelques données ou éléments que ce soit par l’intermédiaire des Services ; et (v)&nbsp;COM1CONCEPT&nbsp;ne donne nulle garantie, expresse ou tacite, y compris en matière de qualité marchande/satisfaisante du Contenu et des Services ou de caractère adapté de ceux-ci à un objectif ou un besoin.</p>

<p><strong>4.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Accessibilité</strong></p>

<p>COM1CONCEPT&nbsp;est tenue d’une obligation de moyen en ce qui concerne le fonctionnement et la continuité du Site et ne peut garantir aux Utilisateurs que l’accessibilité au Site sera ininterrompue et exempte de toute erreur.</p>

<p>COM1CONCEPT&nbsp;décline toute responsabilité à l’égard de semblables inconvénients pouvant résulter d’une Utilisation de ce Site ou de tout autre site extérieur auquel il renvoie.</p>

<p>La présente clause de non-responsabilité n’a pas pour but de limiter la responsabilité&nbsp;COM1CONCEPT&nbsp;quant au respect de ses obligations légales.</p>

<p>Les liens hypertextes mis en place dans le cadre du présent Site en direction d’autres ressources présentes sur le réseau internet, ne sauraient non plus engager la responsabilité de&nbsp;COM1CONCEPT.</p>

<p><strong>5.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Droits de propriété intellectuelle</strong></p>

<p>Les Services (y compris de façon non exhaustive : &nbsp;tous logiciels utilisés en relation avec lesdits Services et l’ensemble de leurs contenus, les textes, le contenu éditorial, les bases de données, la mise en page, les logiciels d’exploitation, les photos, images, graphismes, vidéos, sons, cartes, logos, marques, informations et tous éléments de toute nature dont se composent les Services), sont protégés par les législations applicables sur le droit d’auteur, le copyright, les marques de fabrique et marques de service, les brevets ou autres droits de propriété et appartiennent à&nbsp;COM1CONCEPT, sont contrôlés par&nbsp;COM1CONCEPT&nbsp;ou lui ont été donnés en licence.</p>

<p>COM1CONCEPT&nbsp;concède à l'Utilisateur une licence personnelle, non exclusive, mondiale, non transférable, limitée et révocable d’usage strictement personnel des Services sur tout ordinateur ou appareil mobile, pour la durée de votre utilisation des Services.</p>

<p>Sauf disposition contraire de ces Conditions d’Utilisation, les Services et leur contenu ne peuvent, en tout ou en partie, être copiés, représentés, reproduits, réutilisés, republiés, postés, affichés ou exécutés publiquement, transmis, adaptés, traduits, utilisés pour la création d’œuvres dérivées, vendus, cédés, sous-licenciés, faire l’objet d’une ingénierie ou d’un assemblage inverse, être extraits entièrement ou partiellement ou distribués sur quelque support que ce soit, sous réserve de la législation en vigueur.</p>

<p>Tout manquement aux présentes clauses constituerait une violation passible de sanctions civiles et/ou pénales.&nbsp;Groupe Melchior, ou ses concédants de licence, se réserve le droit de traduire en justice quiconque ne respectera pas ces clauses.</p>

<p><strong>6.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Gestion des mots de passe et codes d’accès</strong></p>

<p>En cas de procédure d’inscription, l'utilisateur doit saisir toutes les informations demandées ainsi qu’un nom de compte et un mot de passe.</p>

<p>L'utilisateur est seul responsable de la conservation du caractère confidentiel de son compte et de son mot de passe et de toutes actions et opérations qui pourront être réalisées sur son compte et/ou avec son mot de passe.</p>

<p>L'utilisateur s'engage à informer immédiatement&nbsp;COM1CONCEPT&nbsp;de toute utilisation non autorisée de son compte et/ou de son mot de passe, ainsi qu’à s'assurer qu'il se déconnecte à l’issue de chaque session.</p>

<p>COM1CONCEPT, ses préposés et intervenants ne pourront être tenus pour responsables de toute perte ou dommage survenant en cas de manquement à ces obligations.</p>

<p><strong>7.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Données personnelles et autres données</strong></p>

<p>L'Utilisateur peut consulter les onglets à accès libre du Site sans révéler son identité ou donner la moindre information le concernant.</p>

<p>Dans un souci particulier de transparence et de protection de ses droits,&nbsp;COM1CONCEPT&nbsp;ne se procurera pas des informations permettant d'identifier l'Utilisateur autres que celles qu'il aurait volontairement communiquées sur le Site ou par tout moyen à&nbsp;COM1CONCEPT.</p>

<p>Les informations recueillies concernant l'Utilisateur sont exclusivement destinées à des fins d’enquête, d’analyses, d’opérations commerciales et de marketing.</p>

<p>Aucune exploitation commerciale, même partielle, des données recueillies ne pourra être effectuée sans l’accord préalable et écrit de&nbsp;COM1CONCEPT&nbsp;selon les circonstances.</p>

<p>Ces informations sont confidentielles et conservées par&nbsp;COM1CONCEPT.</p>

<p>Conformément aux dispositions de la Loi "Informatique et Libertés" n°78-17 du 6 janvier 1978, l'Utilisateur dispose d’un droit d’accès, de rectification et d’opposition aux traitements de données le concernant en adressant un Courrier à :&nbsp;COM1CONCEPT – GUYANE, 2 bd de la République&nbsp;– 97300 CAYENNE&nbsp;(joindre à votre courrier une copie de votre pièce d’identité) ou envoyer un email via le Site rubrique Service client.</p>

<p>Il est précisé que le Site collecte les adresses IP destinées à un usage purement technique, nécessaire à la production de statistiques de consultation. Toutefois, ces adresses IP pourront être utilisées, en coopération avec les fournisseurs d’accès à Internet concernés, pour permettre l’identification des utilisateurs qui violeraient les Conditions d’Utilisation du présent Site et/ou pour protéger les intérêts de&nbsp;COM1CONCEPT&nbsp;et/ou de ses clients ou partenaires, sur demande des autorités judiciaires.</p>

<p>Les courriers et documents reçus ou envoyés par le biais de la messagerie électronique sont conservés pendant une durée de un an et sont ensuite sauvegardés.</p>

<p>Le traitement automatisé des données nominatives réalisé à partir de ce Site a fait l’objet d’une déclaration auprès de la Commission Nationale de l’Informatique et des Libertés.</p>

<p><strong>8.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Liens hypertextes</strong></p>

<p>La mise en place d’un lien hypertexte vers le Site nécessite une autorisation préalable et écrite de&nbsp;Groupe Melchior.</p>

<p>COM1CONCEPT&nbsp;ne peut en aucun cas être tenue pour responsable de la mise à disposition des sites qui font l’objet d’un lien hypertexte à partir du Site et ne peut supporter aucune responsabilité sur le fonctionnement, le contenu, les produits, les services, etc. disponibles sur ces sites ou à partir de ces sites.</p>

<p><strong>9.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Limitation de responsabilité</strong></p>

<p>L’Utilisateur utilise le Site à ses seuls risques. En aucun cas&nbsp;COM1CONCEPT, ses sociétés sœurs et mère, et éventuellement les membres de son réseau commercial ne pourront être tenus responsables des dommages directs ou indirects, et notamment préjudice matériel, perte de données ou de programme, préjudice financier, résultant de l’accès ou de l’Utilisation de ce Site ou de tous sites qui lui sont liés. Le contenu du Site est présenté sans aucune garantie de quelque nature que ce soit. Des erreurs ou omissions peuvent survenir.</p>

<p>L’accès aux produits et services présentés sur le Site peut faire l’objet de restrictions. L'utilisateur doit donc s'assurer que la loi du pays à partir duquel la connexion est établie l'autorise à accéder au Site.</p>

<p><strong>10.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Droit applicable</strong></p>

<p>Les présentes Conditions Générales d'Utilisation sont soumises au droit interne français. La langue des Conditions Générales est la langue française. En cas de litige, les tribunaux français seront seuls compétents.</p>

<p><strong>11.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Mise à jour des Conditions d'Utilisation</strong></p>

<p>COM1CONCEPT&nbsp;se réserve le droit de modifier et mettre à jour à tout moment l’accès au Site ainsi que les Conditions d'Utilisation. Ces modifications et mises à jour s’imposent à l’utilisateur qui doit en conséquence se référer régulièrement à cette rubrique pour vérifier les Conditions d'Utilisation en vigueur.</p>

<p>Dès lors, il est entendu que les conditions applicables sont celles en vigueur sur le Site au moment de son Utilisation.</p>
                                    </div>
                                                                
                            </div>

                        </div>
                                    </div>
            </div>
        </div>
    </div>
    <!--// Main Section \\-->
</div>
