<div class="wm-main-wrapper container" id="page-content-wrapper">


    

      
<!--// Mini Header \\-->
<div class="wm-mini-header">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                    <ul class="breadcrumb">
        <li><a href="/">Accueil</a></li>
                    <li><a href="#">cookie</a></li>
            </ul>
                <div class="wm-page-heading">
                    <h1>cookie</h1>
                    <p>Conditions générales d'utilisation des cookies et données personnelles</p>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
</div>
<!--// Mini Header \\-->

    <span class="hide">themes/default/page.html.twig</span>

<!--// Main page \\-->
<div class="wm-main-page">
    <!--// Main Section \\-->
    <div class="wm-main-section">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                                            <div class="wm-blog wm-blog-single page">
                                                        <div class="wm-blog-text article-light  article-bg-grey">
                                <div class="row">
                                    <h2><a href="#">Conditions générales d'utilisation des cookies et données personnelles</a></h2>

                                </div>
                                                                                                    <div class="row pageRaw">
                                        <p><strong>I - COLLECTE DE DONNÉES</strong></p>

<p><strong>A quoi servent vos données ?</strong></p>

<p>Vos données font l’objet de traitements informatiques permettant la gestion de votre compte utilisateur.</p>

<p><strong>A qui sont destinées vos données ?</strong></p>

<p>Les données collectées sur ce Site sont à destination de la société COM1CONCEPT en sa qualité de responsable de traitement. Elles peuvent également être communiquées aux autres entités du Groupe R2GP à des fins d’études statistiques, de suivi qualité de notre service et, sous réserve de votre accord préalable, de prospection commerciale.</p>

<p><strong>Comment sont protégées vos données ?</strong></p>

<p>COM1CONCEPT prend toutes les précautions pour préserver la sécurité de vos données afin, notamment, d’empêcher leur divulgation à des tiers non-autorisés. A ce titre COM1CONCEPT met en place toutes les mesures nécessaires à la sécurisation de ses dispositifs informatiques. Dans l’hypothèse où vos données font l’objet du transfert auprès de sous-traitants (notamment pour leur hébergement), COM1CONCEPT veille à ce que ces derniers présentent un niveau de sécurité conforme aux standards requis.</p>

<p><strong>Vos données sont-elles transférées en dehors de l’union Européenne ?</strong></p>

<p>Vos données peuvent, notamment en raison de la sous-traitance partielle du traitement, faire l'objet d'un transfert en dehors de l’union Européenne. Dans cette hypothèse, COM1CONCEPT&nbsp;veille à ce que ce transfert respecte le cadre légal : transfert vers un pays assurant un niveau de protection suffisant, signature de clauses contractuelles émises par la Commission Européenne ou, pour un prestataire établi aux Etats-Unis, vérification de son adhésion préalable au Safe Harbor.</p>

<p><strong>Quels sont vos droits ?</strong></p>

<p>Conformément aux dispositions des articles 38, 39 et 40 de la loi du 6 janvier 1978 relative à l’informatique, aux fichiers et aux libertés, vous disposez d’un droit d’accès, de rectification et d’opposition aux traitements de données vous concernant en adressant un Courrier à : COM1CONCEPT – GUYANE, 2 bd de la République – 97300 CAYENNE joindre à votre courrier une copie de votre pièce d’identité) ou envoyer un email via notre Site rubrique Contact.</p>

<p>COM1CONCEPT vous garantit que vos données ne peuvent être utilisées à fins de sollicitations commerciales sans que vous n’y ayez préalablement consenti. En cas de sollicitation commerciale consentie, COM1CONCEPT vous garantit le droit de vous y opposer à posteriori.</p>

<p><strong>II - ENREGISTREMENT DE DONNÉES AU MOYEN DE COOKIES</strong></p>

<p><strong>Qu’est-ce qu’un cookie?</strong></p>

<p>Le "cookie" est un fichier installé sur votre terminal, permettant de stocker des informations relatives à votre navigation sur notre Site internet (paramètres de langue, temps de connexion, pages visitées, ...). Nous pouvons consulter ces données lors de vos prochaines visites, notamment pour faciliter votre navigation, les paragraphes ci-dessous ont pour objectif, dans un souci de transparence, de vous donner un recensement exhaustif des cookies utilisés par COM1CONCEPT, et de vous proposer une solution pour adapter votre choix. Nous attirons votre attention sur le fait que le partage de l’utilisation de votre terminal avec d’autres personnes est susceptible de modifier le caractère personnalisé de l’action des cookies.</p>

<p>Quels sont les types de Cookies utilisés ?</p>

<p>Groupe Melchior utilise des "cookies" visant à faciliter votre navigation. Il s’agit notamment des cookies suivants :</p>

<ul>
	<li>
	<p>les cookies utilisés comme "panier d’achat"</p>
	</li>
	<li>
	<p>les cookies de "session utilisateur" (SessionID)</p>
	</li>
	<li>
	<p>les cookies ayant pour finalité d'enregistrer la langue de l'Utilisateur pour faciliter sa navigation.</p>
	</li>
	<li>
	<p>les cookies flash contenant des éléments strictement nécessaires pour faire fonctionner un lecteur de média (audio ou vidéo), correspondant à un contenu demandé par l’utilisateur.</p>
	</li>
</ul>

<p>COM1CONCEPT peut également être amené à utiliser les cookies ayant pour finalité de nous renseigner sur les produits, services et pages que vous consultez. Ces cookies nous permettent de vous proposer un contenu personnalisé et notamment d’afficher lors de votre connexion sur notre Site des publicités ciblées en rapport avec vos attentes.</p>

<p>Ces cookies peuvent être paramétrés selon vos choix, tels que décrits dans la section ci-dessous. En cas de refus des cookies nous permettant d’identifier les produits, services et pages que vous consultez, le contenu de votre navigation ne sera pas personnalisé et les publicités affichées pourront être sans intérêt pour vous.</p>

<p><strong>COM1CONCEPT&nbsp;permet-il à des tiers d’utilisés des Cookies lors de ma navigation?</strong></p>

<p>Ce Site utilise Google AnalyticsTM, un service d'analyse de Site internet fourni par Google Inc. Google Analytics utilise des cookies, qui sont des fichiers texte placés sur votre terminal, pour aider le Site internet à analyser l'utilisation du Site par ses utilisateurs et à réaliser des statistiques. Les données générées par les cookies concernant votre utilisation du Site (y compris votre adresse IP) sont transmises et stockées par Google sur des serveurs situés aux Etats-Unis. Google utilisera cette information dans le but d'évaluer votre utilisation du Site, de compiler des rapports sur l'activité du Site à destination de son éditeur et de fournir d'autres services relatifs à l'activité du Site et à l'utilisation d'Internet. Google est susceptible de communiquer ces données à des tiers en cas d'obligation légale ou lorsque ces tiers traitent ces données pour le compte de Google, notamment l'éditeur de ce Site. Google ne recoupera pas votre adresse IP avec toute autre donnée détenue par Google. Vous pouvez désactiver l'utilisation de cookies en sélectionnant les paramètres appropriés de votre navigateur (cf.ci-dessous). Cependant, une telle désactivation pourrait empêcher l'utilisation de certaines fonctionnalités de ce Site. En utilisant ce Site internet, vous consentez expressément au traitement de vos données nominatives par Google dans les conditions et pour les finalités décrites ci-dessus. Pour consulter les Règles de confidentialité Google cliquez ici.</p>

<p>Google a adhéré aux principes relatifs à la protection des données "Safe Harbor Privacy Principles" établies par le Département du Commerce américain. Ces principes, négociés entre les autorités américaines et la Commission européenne en 2001, sont essentiellement basés sur ceux de la Directive 95/46 du 24 octobre 1995 et assurent une protection adéquate pour les transferts de données en provenance de l’Union européenne vers des entreprises établies aux Etats-Unis.</p>

<p><strong>Comment exercer votre choix concernant les cookies ?</strong></p>

<ul>
	<li>
	<p>Paramètres du navigateur et conséquences de vos choix :</p>
	</li>
</ul>

<p>Plusieurs possibilités vous sont offertes pour gérer les cookies. A tout moment, vous pouvez exprimer et modifier vos souhaits en matière de cookies, via la section Aide de la barre d'outils de votre navigateur. Celle-ci vous indique comment refuser les nouveaux « cookies » ou obtenir un message qui vous signale leur réception ou encore comment désactiver les "cookies" soit systématiquement, soit selon leur émetteur. Vous pouvez également effacer les cookies manuellement.</p>

<p>Vous pouvez aussi choisir de désactiver ou de supprimer des données similaires utilisées par des logiciels accessoires à votre navigateur, tels que les Flash cookies, en modifiant les paramètres de ces logiciels ou en visitant le Site Internet de l'éditeur de ces logiciels.</p>

<p>Attention, il est possible que cette configuration de votre navigateur vous prive d’accéder à certains contenus ou perturbe significativement votre navigation et les services que vous attendez de la part de notre Site. Le cas échéant, nous déclinons toute responsabilité pour les conséquences liées au comportement dégradé de notre Site résultant de l'impossibilité d’utiliser les cookies nécessaires à son fonctionnement.</p>

<ul>
	<li>
	<p>Votre choix selon votre navigateur internet :</p>
	</li>
</ul>

<p>Pour la gestion des cookies, chaque navigateur propose un process de configuration. Il est décrit dans le menu d'aide de votre navigateur, qui vous permettra de savoir de comment manifester votre volonté en matière de cookies :</p>

<ul>
	<li>
	<p>Pour Internet Explorer™ : ouvrez le menu «Outils», puis sélectionnez «Options internet» ; cliquez sur l'onglet «Confidentialité» puis l’onglet «Avancé» choisissez le niveau souhaité ou suivez ce lien : http://windows.microsoft.com/fr-FR/windows-vista/Block-or-allow-cookies</p>
	</li>
	<li>
	<p>Pour Firefox™ : ouvrez le menu «Outils», puis sélectionnez «Options» ; cliquez sur l'onglet «Vie privée» puis choisissez les options souhaitées ou suivez ce lien : http://support.mozilla.org/fr/kb/Activer%20et%20d%C3%A9sactiver%20les%20cookies</p>
	</li>
	<li>
	<p>Pour Chrome™ : ouvrez le menu de configuration (logo clé à molette), puis sélectionnez «Options» ; cliquez sur «Options avancées» puis dans la section «Confidentialité», cliquez sur «Paramètres de contenu», et choisissez les options souhaitées ou suivez le lien suivant : http://support.google.com/chrome/bin/answer.py?hl=fr&amp;hlrm=en&amp;answer=95647</p>
	</li>
	<li>
	<p>Pour Safari™ : choisissez « Safari &gt; Préférences» puis cliquez sur «Sécurité» ; Dans la section «Accepter les cookies» choisissez les options souhaitées ou suivez ce lien : http://docs.info.apple.com/article.html?path=Safari/3.0/fr/9277.html</p>
	</li>
	<li>
	<p>Pour Opera™ : ouvrez le menu «Outils» ou «Réglages», puis sélectionnez «Supprimer les données privées»; cliquez sur l'onglet «Options détaillées», puis choisissez les options souhaitées ou suivez ce lien : http://help.opera.com/Windows/10.20/fr/cookies.html</p>
	</li>
</ul>

<p>&nbsp;</p>

<ul>
	<li>
	<p>Votre choix sur mobile</p>
	</li>
</ul>

<p><strong>Pour spécifier si Safari™ accepte ou non des cookies</strong></p>

<p>1. Dans l’écran principal, choisissez Réglages &gt; Safari.</p>

<p>2. Touchez Accepter les cookies et choisissez « Jamais », « Des sites visités » ou « Toujours ».</p>

<p><strong>Pour effacer tous les cookies dans Safari</strong></p>

<p>1. Dans l’écran principal, choisissez Réglages &gt; Safari.</p>

<p>2. Touchez Effacer les cookies.</p>

<p><strong>Pour supprimer les cookies sur Androïd</strong></p>

<p>1. Menu &gt; Paramètres &gt; Effacer tous les cookies</p>

<p><strong>III - COLLECTE PAR DES SITES TIERS</strong></p>

<p>COM1CONCEPT&nbsp;peut utiliser des plug-ins du réseau social Facebook, exploité par la société Facebook Inc., 1601 S. California Ave, Palo Alto, CA 94304, USA. Lorsque vous demandez l’accès à une page de notre Site contenant un tel plug-in, votre navigateur établit une connexion directe avec les serveurs de Facebook. Le contenu des Plugins est directement transmis à votre navigateur par Facebook et inséré sur la page du Site. Facebook est informé que votre navigateur a accédé à la page correspondante de notre Site, y compris si vous ne possédez pas de compte utilisateur Facebook ou si vous êtes au même moment déconnecté de votre compte Facebook. Votre adresse IP est transmise directement par votre navigateur à un serveur de Facebook situé aux Etats-Unis et est enregistrée à cet endroit.</p>

<p>Si vous êtes connecté à Facebook lors de votre navigation sur notre Site, Facebook pourra directement relier votre visite à votre compte utilisateur Facebook. Si vous interagissez au moyen des plug-ins, par exemple en cliquant sur le bouton "J’aime" ou en laissant un commentaire, les informations correspondantes seront transmises et enregistrées sur un serveur de Facebook. Elles seront publiées sur votre compte Facebook. Facebook peut utiliser ces informations à des fin publicitaires, des études de marchés et adapter ses pages Facebook. Ainsi Facebook peut créer des profils d’utilisateurs, d’intérêt et de relations, afin par exemple évaluer l’utilisation du Site après avoir vu des publicités Facebook, informer d’autres utilisateurs Facebook sur les activités de notre Site et pour offrir d’autres services en lien avec l’utilisation de Facebook.</p>

<p>Si vous ne souhaitez pas que Facebook relie les informations collectées par l’intermédiaire de notre Site à votre compte utilisateur Facebook, vous devez vous déconnecter de Facebook avant de visiter notre Site.</p>

<p>Pour plus d’informations sur la finalité et l’étendue de la collecte des données par Facebook, leur traitement et utilisation par Facebook, ainsi que vos droits s’y rapportant et les possibilités de configuration en vue de la protection de votre sphère privée, nous vous invitons à vous référer à la politique d’informations sur la protection des données de Facebook, accessible en suivant ce lien Politique d'utilisation des données FACEBOOK.</p>
                                    </div>
                                                                
                            </div>

                        </div>
                                    </div>
            </div>
        </div>
    </div>
    <!--// Main Section \\-->
</div>


</div>
