<h1>Editing videoplaylist</h1>

<%= render "form", videoplaylist: @videoplaylist %>

<br>

<div>
  <%= link_to "Show this videoplaylist", @videoplaylist %> |
  <%= link_to "Back to videoplaylists", videoplaylists_path %>
</div>
