
    <div id="aside_onair" class="widget widget_on_air"><div class="emission-onair" style="background-image: url(&quot;/uploads/<%=animateur.image%>&quot;);"><a href="<%=myemission_path(title: animateur.title.parameterize, id: animateur.id)%>"><div class="emission-title"><h4><%=animateur.title.upcase%></h4> <h5><%=animateur.subtitle.upcase%></h5></div></a></div></div>
